DB_HOST=localhost
DB_PORT=5432
DB_NAME=bandersnatch
DB_USERNAME=tuckersoft
DB_PASSWORD=colin1984
JWT_SECRET=reemplaza-esto-con-al-menos-32-caracteres-seguros
JWT_EXPIRATION_MS=7200000
MAIL_HOST=localhost
MAIL_PORT=2525
MAIL_USERNAME=qa@tuckersoft.test
MAIL_PASSWORD=qa
ADMIN_NAME=Colin Ritman
ADMIN_EMAIL=colin@tuckersoft.co.uk
ADMIN_PASSWORD=colin1984
